
body {
	font-family: "Droid Sans", "Deja Vu Sans", "sans-serif";
}

p {
}

#preamble_container {
	background: 	#eee;
	padding:	0 0 0.5ex 0;
	margin-bottom:	1ex;
}

#title_box {
	margin: auto;
	margin-bottom: 0;
	max-width: 100ex;
	display: block;
}

#preamble, #menu, #about, #content, .disclaimer {
	max-width: 100ex;
	margin: auto;
	line-height	: 1.5em;
}

#about {
	position 		: relative;
	left 			: -51px;
}

#menu {
	border-radius: 64px;
}

.article_preamble {
	color: black;
}

