
body {
	font-family: monospace;
	font-size: 12pt;
	color: #000;
}

#content img {
	max-width: 100%;
	clear: both;
}

.red {
	color: #EA4B2A;
}

.codehilite > pre {
	border-left: 6px solid #333;
	padding: 2px 2px 2px 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: #eee;
}

blockquote {
	background: #ddd;
	color: #666;
	margin: 0;
	border-left: 2ex solid #bbb;
}

h2:before {
	content: '# ';
}
h3:before {
	content: '## ';
}

