
body {
	font-family: Helvetica, DejaVu Sans, sans-serif; 
	font-size: 10pt; 
	color: #000;
	margin:	auto;
	margin-top:		0;
	line-height		: 1.25em;
}

#content img {
	max-width: 100%;
	clear: both;
}

h1, h2, h3 {
	font-family: serif; 
	font-weight: normal;
	color: #333;
	margin-bottom: 0.2em;
}

h1 {
	font-size: 2.0em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	line-height: 1em;
	line-height: 1.2em;
}

h2 {
	font-size: 1.5em;
	color:		#999;
	font-weight:	bold;
	text-transform: uppercase;
	clear:	both;
}

h2.article_title a {
	color: black;
}

h1.page_title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono','Bitstream Vera Sans Mono', monospace!important;
	font-size: 2em;
	
}

h3 {
	font-weight: bold;
	margin-bottom: 0.1em;
}

p {
	margin: 10px 0 10px 0;
}

p, ul, ol {
	line-height		: 1.5em;
	font-size:		1.5em;
}

ul, ol {
	padding-left:		2ex;
	margin-top:		0;
}

pre {
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono','Bitstream Vera Sans Mono', monospace!important;
}

a {
	text-decoration		: none;
	text-transform		: uppercase;
	color			: #226CFF;
}

#menu {
	margin-top: 1ex;
	clear:		both;
	display:	block;
}

#menu a.sel {
	text-decoration: underline;
}

#menu:after {
	content:	'.';
	visibility:	hidden;
	clear:		both;
	display:	block;
}

.internal {
	display:	inline;
	padding:	3px;
	
}

.external {
	vertical-align: top;
	text-align:	left;
	padding:	3px 3px 3px 0;
}

.red {
	color: #EA4B2A;
}

.blue {
	color			: #226CFF;
}

#menu .external a {
	color:		#333;
	text-transform:	none;
	border-bottom: 2px solid #226CFF;
}

#social  {
	padding:	3px;
	display: none;
}

#social .links {
	column-count: 2;
	-moz-column-count: 2;
	margin-left:	10px;
}

#social .title {
	color:	#666;
}

#social a {
	padding-right:	1ex;
}


#social a {
	display: block;
	font-size: 1.5em;
	padding: 5px;
	color:	#666;
}

#social a:hover {
	color:	black;
}

#social h2 {
	margin : 10px 0;
}


.disclaimer {
	margin: 2ex 3px 3px 0;
	color:	#ccc;
}

.codehilite > pre {
	border-left: 4px solid #666;
	padding: 2px 2px 2px 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#social a.twitter:hover {
	color: #00bef6;
}
#social a.reddit:hover {
	color: #D41D00;
}
#social a.tumblr:hover {
	color: #2D4861;
}
#social a.stumbleupon:hover {
	color: #EA4B2A;
}
#social a.delicious:hover {
	color: #3274d1;
}
