
body {
	font-family: serif; 
	font-size: 10pt; 
	color: #000;
	margin:	auto;
	margin-top:		0;
	line-height		: 1.25em;
	max-width: 99%;
}

#content {
	margin-top: 0;
}

#content img {
	max-width: 100%;
	clear: both;
}

h1, h2, h3 {
	margin-top: 3ex;
	font-weight: bold;
	margin-bottom: 0em;
}
h2, h3 {
	text-decoration: underline;
}

.date {
	font-weight: normal;
	margin-right: 1ex;
	font-family: monospace;
	color: #999;
}

article {
	margin-top: 0.5em;
}

article h2 {
	font-weight: normal;
	text-decoration: none;
}

h1 {
	font-size: 2.0em;
	line-height: 1.2em;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	clear:	both;
	line-height: 1.2em;
}

h2.article_title a {
	color: #0057ae;
}

h1.page_title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono','Bitstream Vera Sans Mono', monospace!important;
	font-size: 2em;
	color: #aaa;
}

h3 {
	font-weight: bold;
	margin-bottom: 0.1em;
}

p {
	margin: 1ex 0 0 0;
}

p, ul, ol {
	line-height		: 1.6em;
	font-size:		1.5em;
}

ul, ol {
	margin-top:		0;
}

pre {
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono','Bitstream Vera Sans Mono', monospace!important;
}

a {
	text-decoration		: none;
	/*text-transform	: uppercase;*/
	color			: #226CFF;
}

#about {
	color 			: #666;
}

#about img {
	height: 48px;
	height: 3em;
}

#menu {
	background: #0057ae;
	color: #eee;
	padding: 0 0.5ex 0 0.5ex;
	margin-top: 1ex;
	clear:		both;
	display:	block;
	position:	relative;
}

#menu a.sel {
	text-decoration: underline;
}

#menu:after {
	content:	'.';
	visibility:	hidden;
	clear:		both;
	display:	block;
}

.internal {
	display:	inline;
	padding:	3px;
	
}

.red {
	color: #EA4B2A;
}

.blue {
	color			: black;
}

#menu img {
	margin: auto;
	position: absolute;
	top:0; bottom:0;
	max-height: 100%
	max-width: 100%
}

#social  {
	padding:	3px;
	display: none;
}

#social .links {
	column-count: 2;
	-moz-column-count: 2;
	margin-left:	10px;
}

#social .title {
	color:	#666;
}

#social a {
	padding-right:	1ex;
}


#social a {
	display: block;
	font-size: 1.5em;
	padding: 5px;
	color:	#666;
}

#social a:hover {
	color:	black;
}

#social h2 {
	margin : 10px 0;
}


.disclaimer {
	margin: 2ex 3px 3px 0;
	color:	#ccc;
}

.codehilite > pre {
	border-left: 6px solid #333;
	padding: 2px 2px 2px 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: #eee;
	margin-top: 2em;
}

#social a.twitter:hover {
	color: #00bef6;
}
#social a.reddit:hover {
	color: #D41D00;
}
#social a.tumblr:hover {
	color: #2D4861;
}
#social a.stumbleupon:hover {
	color: #EA4B2A;
}
#social a.delicious:hover {
	color: #3274d1;
}

.download, .download h2 {
	color: #666;
}

blockquote {
	background: #ddd;
	color: #666;
	margin: 0;
	border-left: 2ex solid #bbb;
}

