{% extends "index.html" %}


{% block menu%}
	<div id="about">

	<img align="left" src="me7.png"/>
	<a href="https://bitbucket.com/equalsraf"><img src="bitbucket.png"/></a>
	<a href="https://github.com/equalsraf"><img src="github.png"/></a>
	<a href="https://www.linkedin.com/pub/rui-ferreira/15/b44/a79"><img src="linkedinlogo.png"/></a>
	<a href="rss.xml"><img src="rss.png"/></a>
	</div>
{% endblock %}

{% block content%}

<div id="content" class="article_list">
{% for article in articles %}
	<article>
	<h2 class="article_title">{{article.title}}</h2>
	<p>
	{{article.description}}<a class="more" href="{{article.href}}">| more</a>
	</p>
	</article>
{% endfor %} </div> 

{% endblock %}


