{% extends "index.html" %}

{% block head %}
{% if not bare %}
<link rel="Alternate" media="Print" href="{{basename}}.print.html" />
<script src="jquery-1.9.1.js">
</script>
{% endif %}
{% endblock %}

{% block content%}
<div id="content">
{{html|safe}}

{% if not bare %}
<div id="social">
	<h2>Liked this? Share it.</h2>
	<div class="links">
	<a class="delicious" title="Share on tumblr" href="http://del.icio.us/post?url=">Delicious</a>
	<a class="stumbleupon" href="http://www.stumbleupon.com/submit?u=">StumbleUpon</a>
	<a class="twitter" href="http://twitter.com/home/?status=">Twitter</a>
	<a class="reddit" href="http://www.reddit.com/submit?url=">Reddit</a>
	<a class="tumblr" href="http://www.tumblr.com/share">Tumblr</a>
	</div>
</div>
<script>
var url = window.location.href;

var anchor;
anchor = $('#social a.delicious');
anchor.attr('href', anchor.attr('href') + url);
anchor = $('#social a.stumbleupon');
anchor.attr('href', anchor.attr('href') + url);
anchor = $('#social a.twitter');
anchor.attr('href', anchor.attr('href') + url);
anchor = $('#social a.reddit');
anchor.attr('href', anchor.attr('href') + url);
// No need for tumblr

$('#social').show();
</script>

<h2>Download this</h2>
<p>To save this as a clean single HTML file, press <a href="{{basename}}.print.html">here</a>
This is ideal for long term storage or reading on your ebook reader.</p>
{% endif %}

</div>
{% endblock %}
