{% extends "index.html" %}


{% block menu%}
	<div id="menu">

	<img align="left" src="{{include_image('static/me6.jpg')}}"/>
	<div class="external">
	I'm a <a href="http://www.linkedin.com/pub/rui-ferreira/15/b44/a79">researcher</a> and <a href="http://code.ruiabreu.org">developer</a>, here are a few links to the digital me, and some random notes.
	Poke me via <a href="https://twitter.com/account/redirect_by_id?id=81713248">twitter</a> if you found something useful here. BTW here is a cool <a href="linux-timeline.png">figure</a> about me.
	</div>

{% endblock %}

{% block content%}

<div id="content" class="article_list">
{% for article in articles %}
	<article>
	<h2 class="article_title"><a href="{{article.href}}">{{article.title}}</a></h2>
	<p>
	{{article.description}}
	</p>
	</article>
{% endfor %} </div> 
{% endblock %}
